body {
  color: #fff;
  font-family: "ABeeZee", "Roboto", sans-serif;
  font-size: 100%;
  overflow-x: hidden;
}

p {
  line-height: 24px;
  margin: 10px 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

a.white {
  color: #fff;
}

a.white:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

/* --------------------------------- TOP NAV -------------------------------- */
/* .top-nav {
  background-color: #7f224c;
}
.top-nav ul {
  display: flex;
}

.top-nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.top-nav a:hover {
  text-decoration: underline;
} */

.brand-header {
  background-color: #882551;
  padding: 50px 0 50px 0;
}

.brand-header h1,
.brand-header h2 {
  color: #e8d216;
}

.brand-wrapper {
  background-color: #882551;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-wrapper a {
  text-decoration: none;
}

.brand-wrapper img {
  width: 86px;
  margin: 10px;
  height: 86px;
}

/* -------------------------------- MAIN MENU ------------------------------- */
.main-menu-wrapper {
  background-color: #882551;
  box-shadow: #2b2626b0 0px 3px 2px 0px;
  position: sticky;
  top: 0;
  transition: all 0.35s ease;
  z-index: 2;
}

.main-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main-menu a {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  color: #fff;
  display: flex;
  font-size: 1.2em;
  padding: 10px 5px;
  text-decoration: none;
}

.main-menu a:hover,
.sub-menu a:hover {
  border-bottom: 5px solid #e8d216;
  color: #e8d216;
  transition: all 0.5s ease;
}

.main-menu .sub-menu {
  background-color: #882551;
  box-shadow: #1c1817 2px 2px 8px -2px;
  display: none;
  padding: 5px 10px;
  position: absolute;
}

.main-menu li:hover .sub-menu {
  display: inline-block;
  /* transition: all 0.5s ease; */
}

.main-menu-mobile-wrapper,
.main-menu-wrapper {
  z-index: 3;
}

a.logo:hover {
  border-color: transparent;
}

.logo {
  background-image: url("/android-chrome-192x192.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 64px;
  margin: 0 auto;
  position: static;
  width: 64px;
}

.main-menu.sticked .logo {
  width: 30px;
  height: 30px;
  top: -40px;
}

.btn-daftar:hover {
  background-color: #fff;
  color: #000 !important;
}

/* -------------------------------- MAIN HERO ------------------------------- */
.main-hero {
  align-items: center;
  background: url("/img/bg.jpg");
  background-position: center bottom;
  background-size: cover;
  /* Dont move it before background property */
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  font-size: 3em;
  justify-content: center;
  max-height: 800px;
  position: relative;
}

.main-hero:before {
  background-color: #0a090985;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.hero-quote {
  font-size: 3em;
  line-height: 90px;
  z-index: 2;
}

.community-list-wrapper {
  display: flex;
  flex-direction: row;
}

.custom-list li {
  /* border-bottom: 2px dashed #90546f; */
  line-height: 23px;
  margin: 0 30px;
  padding: 11px;
  position: relative;
}

.custom-list li:before {
  background-image: url("/img/checkbox.svg");
  background-repeat: no-repeat;
  content: "";
  height: 30px;
  left: -23px;
  position: absolute;
  width: 30px;
}

/* .custom-list li:last-child {
  border: none;
} */

/* --------------------------------- FOOTER --------------------------------- */
.footer {
  /* background-color: #531a35; */
  background-color: #7f224c;
  padding: 64px 5px;
}

.footer-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo-wrapper div,
.footer-logo-wrapper img {
  padding: 10px;
}

.footer-logo-wrapper h2 {
  font-size: 24px;
}

.footer-logo-wrapper h3 {
  font-size: 20px;
}

/* --------------------------------- SITEMAP -------------------------------- */
.sitemap {
  margin-top: 20px;
}

.sitemap a {
  text-decoration: none;
  /* font-size: 20px; */
  color: #fff;
  margin-right: 5px;
}

.sitemap a:hover {
  text-decoration: underline;
}

.social-media-wrapper {
  padding-top: 35px;
  padding-bottom: 30px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media img {
  width: 42px;
  height: 42px;
  margin: 10px;
}

/* --------------------------------- HELPERS -------------------------------- */
.custom-h2 {
  padding: 50px 0 0 0;
  font-size: 30px;
  border-bottom: 7.5px solid #ffffff4d;
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.white-text {
  color: #fff;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 15px;
}

.fake {
  /* height: 200vh; */
  padding-bottom: 20px;
  display: flex;
  background-color: #882551;
}

.alert {
  background-color: #ffa726;
  color: #000;
  padding: 10px;
}
