/* * {
  transition: all 0.5s ease;
} */

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Bitter", serif;
  color: #fff;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.4rem;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

/* --------------------------------- TOP NAV -------------------------------- */
.top-nav {
  background-color: #30252a;
}
.top-nav ul {
  display: flex;
}

.top-nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.top-nav a:hover {
  text-decoration: underline;
}

.brand-header {
  background-color: #882551;
  padding: 0;
  position: sticky;
  top: 0;
}

.brand-header h1,
.brand-header h2 {
  color: #e8d216;
}

.brand-header .tagline {
  display: none;
}

.brand-header .name {
  font-size: 2rem;
}

.brand-header .top-part {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-right: 2rem;
}

.brand-header .top-part .menu-toggle {
  background: none;
  color: white;
  border: none;
  width: 5%;
}

.brand-header .top-part .menu-toggle svg {
  fill: #fff;
  width: 100%;
}

.brand-header .main-menu {
  display: none;
}

.brand-header .main-menu.toggled {
  display: flex;
}

.brand-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.brand-wrapper img {
  width: 86px;
  margin: 10px;
  height: 86px;
}

/* -------------------------------- MAIN MENU ------------------------------- */
.main-menu-wrapper {
  background-color: #882551;
  display: none;
}

.home-menu {
  display: none;
  position: sticky;
  transition: all 0.3s ease;
  top: 0;
}

.main-menu {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.main-menu a {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  padding: 10px 5px;
  display: flex;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.main-menu a:hover {
  border-bottom: 5px solid #e8d216;
  color: #e8d216;
  transition: all 0.5s ease;
}

.home-menu a:hover {
  border-color: transparent;
}

/* -------------------------------- MAIN HERO ------------------------------- */
.main-hero {
  height: 100vh;
  background: url("/img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* --------------------------------- FOOTER --------------------------------- */
.footer {
  background-color: #531a35;
  padding: 64px 5px;
}

.footer-logo-wrapper {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.footer-logo-wrapper div,
.footer-logo-wrapper img {
  padding: 10px;
}

.footer-logo-wrapper h2 {
  font-size: 24px;
}

.footer-logo-wrapper h3 {
  font-size: 20px;
}

/* --------------------------------- SITEMAP -------------------------------- */
.sitemap {
  margin-top: 20px;
}

.sitemap a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  margin-right: 5px;
}

.sitemap a:hover {
  text-decoration: underline;
}

/* --------------------------------- HELPERS -------------------------------- */
.bold {
  font-weight: bold;
}

.white-text {
  color: #fff;
}

.text-center {
  text-align: center;
}

.fake {
  height: 200vh;
  background-color: #641f3e;
}

/* ---- SHADOWS ---- */
.brand-header {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px;
}

@media (min-width: 1024px) {
  /* --------------------------------- TOP NAV -------------------------------- */
  .brand-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: static;
  }

  .brand-header {
    padding: 50px 0 50px 0;
    position: static;
  }

  .brand-header .tagline {
    display: inline;
  }

  .brand-header .name {
    font-size: 3.5rem;
  }

  .brand-header .top-part .menu-toggle,
  .brand-header .main-menu,
  .brand-header .main-menu.toggled {
    display: none;
  }

  .brand-wrapper img {
    width: 70px;
    margin: 10px;
    height: 70px;
  }

  /* -------------------------------- MAIN MENU ------------------------------- */
  .main-menu-wrapper {
    display: block;
    background-color: #882551;
    position: sticky;
    top: 0;
  }

  .main-menu-wrapper.sticked {
    background-color: #30252ac9;
  }

  .main-menu-wrapper.sticked .home-menu {
    display: flex;
  }

  .main-menu {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .main-menu a {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    padding: 5px;
    display: flex;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    flex-wrap: wrap;
    flex: 1 0 auto;
  }

  .main-menu a:hover {
    border-bottom: 5px solid #e8d216;
    color: #e8d216;
    transition: all 0.5s ease;
  }
}
