@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /*  */
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    margin-left: 5px;
    margin-right: 5px;
  }
  .main-menu-wrapper {
    display: none;
  }
  .main-menu {
    flex-direction: column;
  }
  .main-menu .logo {
    display: none;
  }

  .brand-wrapper {
    display: none;
  }

  .main-menu-mobile-wrapper {
    background-color: #882551;
    box-shadow: #2b2626b0 0px 3px 2px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .menu-toggle {
    background-image: url(/img/open-menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 35px;
    margin: 0 auto;
    position: static;
    cursor: pointer;
    width: 48px;
  }

  .mobile-brand {
    font-size: 24px;
    color: #e8d216;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1000px) {
  .main-menu-mobile-wrapper {
    display: none;
  }
}
